[submodule "PrimeProperti"]
	path = PrimeProperti
	url = https://github.com/syofiansyi/PrimeProperti.git
[submodule "mybot"]
	path = mybot
	url = https://github.com/syofiansyi/mybot.git
[submodule "kuenyabintang"]
	path = kuenyabintang
	url = https://github.com/syofiansyi/kuenyabintang.git
